nav {
	background-color: burlywood;
}

.nav-item {
	margin: 10px;
}

.left-background {
	background-color: antiquewhite;
	padding: 2rem 0;
	justify-content: end;
}

.right-background {
	background-color: whitesmoke;
	padding: 2rem 0;
	justify-content: start;
}

.profile-card {
	background-color: whitesmoke;
	max-width: 90%;
	width: 360px;
	height: 400px;
	align-content: center;
}

.profile-pic {
	margin: 10px;
	width: 170px;
	height: auto;
	object-fit: cover;
}

.about-me {
	background-color: white;
	max-width: 90%;
	width: 500px;
	height: 400px;
}
.profile-info {
	background-color: antiquewhite;
}
.history {
	background-color: whitesmoke;
}
h3 {
	color: mediumseagreen;
}

footer {
	background-color: burlywood;
	padding: 10px;
}

#aboutToast {
	min-width: 250px;
	z-index: 1080; /* make sure it shows above other content */
}

.photo img {
	max-width: 30%;
}
@media only screen and (max-width: 1000px) {
	.left-background {
		justify-content: center;
	}
	.right-background {
		justify-content: center;
	}
	.profile-card {
		height: auto;
		padding-bottom: 10px;
	}
	.about-me {
		height: auto;
	}
}
