nav {
	background-color: burlywood;
}

.nav-item {
	margin: 10px;
}

.left-background {
	background-color: antiquewhite;
}

.right-background {
	background-color: whitesmoke;
	height: 100vh;
}

.profile-card {
	background-color: whitesmoke;
	height: 530px;
	width: 65%;
}

.profile-pic {
	margin: 10px;
	width: auto;
}

.about-me {
	background-color: white;
	height: 530px;
	max-width: 80%;
}

footer {
	background-color: burlywood;
	padding: 10px;
}
